</body>

<% if (path === "/login" || path === "/register" || path === "/get-address") { %>
    <script
    src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
<% } %>

<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/slick.min.js"></script>

<script type="text/javascript">

    window.addEventListener("resize", () => {
        if (window.innerWidth > 994) {
            location.reload();
        } else if (window.innerWidth < 994 && window.innerWidth > 599) {
            location.reload();
        } else if (window.innerWidth < 599) {
            location.reload();
        }
    })

    let productCards = 3;
    if (window.innerWidth < 599) {
        productCards = 2
    }
    $(document).ready(function () {
        $('.poorya').slick({
            slidesToShow: productCards,
            slidesToScroll: 1,
        });
    });

    $(document).ready(function () {
        $('.slider3').slick({
            slidesToShow: productCards,
            slidesToScroll: 1,
        });
    });

    let discountCards;
    if (window.innerWidth > 994) {
        discountCards = 4;
    } else if (window.innerWidth < 994 && window.innerWidth > 599) {
        discountCards = 2
    } else if (window.innerWidth < 599) {
        discountCards = 1;
    }

    $(document).ready(function () {
        $('.slider2').slick({
            slidesToShow: discountCards,
            slidesToScroll: 1,
        });
    });

</script>

<script src="/js/script.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>