<footer class="footer">
    <div class="container-fluid">
        <div class="row h-full">
            <div class="d-none d-sm-block col-md-4 mb-4 mb-md-0 text-justify ">
                <h5 class="text-center mt-4 mb-4 pb-1">درباره ما</h5>
                <p class="text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                    شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                    زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                    افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام</p>
                <div class="mt-4 mb-2 d-flex justify-content-around">
                    <a type="button" class="btn rounded-circle btn-warning"><i
                            class="fab fa-2x fa-instagram"></i></a>
                    <a type="button" class="btn rounded-circle btn-warning"><i
                            class="fab fa-2x fa-whatsapp"></i></a>
                    <a type="button" class="btn rounded-circle btn-warning"><i class="fab fa-2x fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 ">
                <h5 class="text-center mt-4 mb-4 pb-1 ">تماس با ما</h5>
                <ul class="fa-ul icon-list">
                    <li class="fa-li mb-3">
                        <p class="fa-li">اصفهان</p><span><i class="fas fa-home"></i></span>
                    </li>
                    <li class="fa-li mb-3">
                        <p class="fa-li">info@example.com</p><span><i class="fas fa-envelope"></i></span>
                    </li>
                    <li class="fa-li mb-3">
                        <span class="fa-li">۰۹۳۰۱۳۸۱۰۲۸</span><span><i class="fas fa-phone"></i></span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 align-content-center mb-4 mb-md-0 text-justify ">
                <h5 class="text-center mt-4 mb-4 pb-1">ساعات کاری</h5>
                <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                        <tr class="">
                            <td>شنبه تا چهارشنبه</td>
                            <td>۸ تا ۲۰</td>
                        </tr>
                        <tr>
                            <td>پنجشنبه</td>
                            <td>۹ تا ۱۹</td>
                        </tr>
                        <tr>
                            <td>جمعه</td>
                            <td>تعطیل</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</footer>