<section class="inner-menu container my-4">
    <div class="p-2 mb-2">
        <h3>دسته‌بندی محصولات</h3>
    </div>
    <div class="row">
        <div class="inner-menu-items col-md-3 col-6 text-center">
            <img src="/img/index-fav-icon.png" class="img-fluid menu-inner-img shadow p-3" alt="">
        </div>
        <div class="inner-menu-items col-md-3 col-6 text-center">
            <img src="/img/index-fav-icon.png" class="img-fluid menu-inner-img shadow p-3" alt="">
        </div>
        <div class="inner-menu-items col-md-3 col-6 text-center">
            <img src="/img/index-fav-icon.png" class="img-fluid menu-inner-img shadow p-3" alt="">
        </div>
        <div class="inner-menu-items col-md-3 col-6 text-center">
            <img src="/img/index-fav-icon.png" class="img-fluid menu-inner-img shadow p-3" alt="">
        </div>
    </div>
</section>